<header>
  <h1>Nova Admissão Cooperado</h1>
  <p>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
</header>
<section>
  <h2>Informe o CPF do futuro cooperado (a)</h2>
  <p>Se necessário, você poderá duplicar uma conta existente ou pausar e reotrnar esttet cadastro futuramente.<br>
    Digiet apenas os números (sem pontos ou traços)</p>
  <label for="cpf">CPF</label>
  <input type="tel" id="cpf" aria-describedby="CPF" #cpf>
  <button (click)="enviar(cpf.value)">Consulta CPF</button>
</section>
<router-outlet></router-outlet>