<header>
    <h1>Nova Admissão Cooperado</h1>
    <p>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
</header>
<section>
    <h2>Informe o CPF do futuro cooperado (a)</h2>
    <p>Se necessário, você poderá duplicar uma conta existente ou pausar e reotrnar esttet cadastro futuramente.<br>
        Digiet apenas os números (sem pontos ou traços)</p>
    <form [formGroup]="admissaoForm" (ngSubmit)="enviar()">
        <label for="cpf">CPF</label>
        <input type="tel" id="cpf" aria-describedby="CPF" formControlName="cpf" maxlength="11" placeholder="Digite apenas números">
        <button type="submit">Consulta CPF</button>
        <div *ngIf="cpf?.invalid && (cpf?.dirty || cpf?.touched) && admissaoForm.statusChanges">
          <p *ngIf="cpf?.errors?.['required']">
            CPF é obrigatório.
          </p>
          <p *ngIf="!cpf?.errors?.['required'] && cpf?.errors?.['cpfInvalido']">
            Digite um CPF válido
          </p>
        </div>
    </form>
    <div id="cooperado" *ngIf="situacaoCpf">
      <h3>Situação cadastral do CPF</h3>
      <small>Consulta na Receita Federal</small>
      <div>
        <small>Nome</small>
        <p>{{situacaoCpf.nome}}</p>
        <small>Situação do CPF</small>
        <p>{{situacaoCpf.status ? 'Regular' : 'Irregular'}}</p>
      </div>
    </div>
    <div *ngIf="submitted && !situacaoCpf">
      Cooperado não encontrado.
    </div>
</section>